<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="dao" class="com.ajie.dao.UserDaoImpl"></bean>
    <bean id="MySQL" class="com.ajie.dao.UserMySQLDaoImpl"></bean>
    <bean id="Orcal" class="com.ajie.dao.UserOrcalDaoImpl"></bean>
    <bean id="service" class="com.ajie.service.UserServiceImpl">
        <property name="userDao" ref="MySQL"></property>
    </bean>
</beans>